{% extends "squelette.html" %}

{% block titre %}Formulaire Box{% endblock %}
{% block main %}
    <div class="resultatsFormulaireBox">
        <div class="libelleBox"> {{ libelle }} </div>
        <div class="descriptionBox"> {{ description }} </div>
        <div class="montantBox"> {{ montant }} </div>
    </div>
{% endblock %}
