{% extends "squelette.html" %}

{% block titre %}Categories{% endblock %}

{% block main %}
    {% for cat in categories %}
        <div class="categorie">
            <a href="{{ url_for('categorieId', {id:  cat.id}) }}"><h2 class="titreCategorie">{{ cat.libelle }}</h2></a>
            <p class="descriptionCategorie">{{ cat.description }}</p>
            <p>Id: {{ cat.id }}</p>
        </div>
    {% endfor %}
{% endblock %}
