<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Box Créée</title>
</head>
<body>
    <h1>Box Créée</h1>
    <p>Libellé: {{ libelle }}</p>
    <p>Description: {{ description }}</p>
    <p>Montant: {{ montant }}</p>
    <a href="/box/create">Créer une autre Box</a>
</body>
</html>
