<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur l'application Giftbox!</h1>
    {% if is_authenticated %}
        <p>Bonjour, {{ user_email }}!</p>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
</body>
</html>
