<!DOCTYPE html>
<html>
<head>
    <title>My Boxes</title>
</head>
<body>
    <h1>My Boxes</h1>
    <ul>
        {% for box in boxes %}
            <li>
                <a href="/box/{{ box.id }}">{{ box.libelle }}</a> - {{ box.status }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
